<!DOCTYPE html>
<html>
  <head>
    <title>Chat Application</title>
    <link rel="stylesheet" type="text/css" href="index.css">
  </head>
  <style >
   body{
    background-image:url("http://localhost:3000/images/cover.jpg"); background-size:cover; background-repeat:no-repeat; background-position: center center;
   }
  </style>
  <body>
    <form id="login-form" method="post" action="http://localhost:3000/auth/signup">
      <div class="container">
        <label><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" id="username" required>
        <label><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" id="password" required>
        <button type="submit" id="login">Login</button>
        <button type="submit" id="signup">Signup</button>
        <label id="result"></label>
      </div>
    </form>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="http://localhost:3000/socket.io/socket.io.js"></script>
    <script src="http://localhost:3000/javascript/index.js"></script>
    <script src="http://localhost:3000/javascript/mainPage.js"></script>
  </body>
</html>
